/* Definição das cores padrão */
:root {
    --cor-fundo: #f0f0f0; 
    --cor-primaria: #222; 
    --cor-texto: #333; 
    --cor-header-footer: #333; 
    --cor-link: #000; 
    --cor-link-hover: #555; 
    --cor-branca: #fff; 
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    background-color: var(--cor-fundo); 
    color: var(--cor-texto);
}

#wrap {
    display: flex; /* Define o layout flexível */
    flex-direction: column; /* Organiza os elementos em coluna */
    min-height: 100vh; /* Garante que o contêiner ocupe toda a altura da tela */

}

header {
    background-color: var(--cor-primaria); 
    color: var(--cor-branca); /* Define a cor do texto no cabeçalho */
    padding: 10px 0; /* Adiciona padding vertical */
}

header div {
    display: flex; /* Define o layout flexível */
    align-items: center; /* Alinha os itens ao centro verticalmente */
    justify-content: space-between; /* Espaça os itens igualmente */
    padding: 0 20px; /* Adiciona padding horizontal */
}

header h1 a {
    color: var(--cor-branca); /* Define a cor do link */
    text-decoration: none; /* Remove a sublinha do link */
}

nav ul {
    list-style: none; /* Remove os marcadores da lista */
    padding: 0; 
    margin: 0; 
    display: flex; /* Exibe os itens em linha */
}

nav ul li {
    margin: 0 10px; /* Adiciona margem horizontal entre os itens */
}

nav ul li a {
    color: var(--cor-branca); /* Define a cor dos links */
    text-decoration: none; /* Remove a sublinha dos links */
}

main {
    flex: 1; /* Permite que o main ocupe o espaço restante */
    padding: 20px; /* Adiciona padding ao main */
}

footer {
    background-color: var(--cor-header-footer); /* Define a cor de fundo do rodapé */
    color: var(--cor-branca); /* Define a cor do texto no rodapé */
    text-align: center; /* Centraliza o texto */
    padding: 10px 0; /* Adiciona padding vertical */
}

footer div {
    display: flex; /* Define o layout flexível */
    align-items: center; /* Alinha os itens ao centro verticalmente */
    justify-content: space-between; /* Espaça os itens igualmente */
    padding: 0 20px; /* Adiciona padding horizontal */
}

footer a {
    color: var(--cor-branca); /* Define a cor dos links */
    text-decoration: none; /* Remove a sublinha dos links */
    margin: 0 10px; /* Adiciona margem horizontal entre os links */
}

footer a:hover {
    color: var(--cor-link-hover); /* Define a cor de hover dos links */
}

/* Estilos responsivos */
@media (max-width: 768px) {
    header div, footer div {
        flex-direction: column; /* Organiza os itens em coluna */
        text-align: center; /* Centraliza o texto */
    }

    nav ul {
        flex-direction: column; /* Organiza os itens em coluna */
    }

    nav ul li {
        margin: 5px 0; /* Adiciona margem vertical entre os itens */
    }
}

@media (max-width: 480px) {
    header div, footer div {
        padding: 0 10px; /* Reduz o padding horizontal */
    }

    main {
        padding: 10px; /* Reduz o padding do main */
    }
}

/* Estilo para a logo */
.logos {
    width: 130px; /* Define a largura da logo */
    height: auto; /* Mantém a proporção da logo */
}

main section{
    display: flex; /* Define o layout flexível */
    text-align: center; /* Deixa os itens do Label no centro */
    flex-direction: column;/* Ordena em coluna */
}

.btsubmit{
    height: 30px;
    max-width: 70px;
    text-align: center;
}

.center{
    text-align: center;
}